<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Startifacts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/style.css"
    <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
{{{body}}}

    <div class="footer">
        footer
        <figure class="image is-128x128">
            <img src="../assets/images/pangolins.jpg">
        </figure>
    </div>

</body>


</html>