<!-- Hero content: will be in the top middle -->

<section class="hero is-large dashboard-image">
    <div class="hero-body">
        <div class="container has-text-centered">
            <img href="https://fontmeme.com/for-all-mankind-font/"><img
                src="https://fontmeme.com/permalink/210807/58cbbef90eb63d96cd8255e7bd6f8331.png"
                alt="for-all-mankind-font" border="0">
            <div class="title">
            </div>
        </div>

    </div>

</section>