<div class="container">
    <section class="hero is-small is-dark">
        <!-- Hero head: will stick at the top -->
        <header>
            <nav class="navbar small light bg-dark">
                <h1>
                    <p class="title"><i>sci-fi, anime and fantasy collectibles</i></p>
                </h1>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Homebase
                        </a>
                        <a class="navbar-item">
                            Boldly Go!
                        </a>
                        <a class="navbar-item">
                            Area 51:Saved Items
                        </a>
                        <a class="navbar-item">
                            Login
                        </a>
                    </div>
                </div>
            </nav>
        </header>
    </section>
</div>

<!-- Hero content: will be in the top middle -->
<section class="hero is-large">
    <div class="bg-img" src="../public/assets/images/homepage-background.jpg">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="https://fontmeme.com/permalink/210802/14b4718db616cb3f3efeb19ebdaed464.png"
                    alt="startifacts main title" border="0">
                <div class="title ">
                </div>
                <p class="title">
                    'Your stuff is out there. . . .'
                </p>
            </div>

        </div>
    </div>
    
</section>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
    <nav class="tabs">
    </nav>
</div>

<script src="../public/assets/homepage.js"></script>