<section class="hero is-large login-image" style="height: 80vh">
    <form class="login-form">
        <div>
            <label for="email-login">Username:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div class="sign-up">
            Don't have a Login? <a href="/signup">Sign Up!</a>
        </div>
        <div class="hero-body">
    </form>
    <div class="container has-text-right">
        <img src="https://fontmeme.com/permalink/210807/cfe5eb3194547e214c624c5a0fefb624.png" alt="exosphere-font"
            border="0">
    </div>
    </div>

</section>
<script src="/assets/javascript/login.js"></script>