<section class="hero is-large signup-image" style="height:80vh">
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <br>
    <br>
    <div class="container has-text-right mt-6">
        <img src="https://fontmeme.com/permalink/210807/e61b23c5081f3ccc3865f410a25f651b.png" alt="vertigon-font"
            border="0">
    </div>
</section>

<script src="/assets/javascript/signup.js"></script>