:root {
    --primary-color: white ;
    --primary-hover: gray;
}

* {
    box-sizing: border-box;
}

main{
background-color: transparent;
}


.landing-image {
    background-image: url("../assets/images/homepage-background.jpg") ;
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html, input, textarea {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial";
    background-color: black;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
    font-family: "Arial";
}

.homepage {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .1s;
    margin: 20px;
}

a:hover {
    color: var(--primary-hover);
}

.text {
    color: white ;
    font-size: 35px;
    margin: 15px; 
}

.create-btn {
    color:white;
    flex-wrap: wrap;
    justify-content: center;
}

.create-btn:hover {
    color:white;
}

button {
    background-color: var(--secondary-color);
    border: 0;
    padding: 1%;
    color: lightgray;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Arial";
}

button:hover{
    background-color: var(--primary-hover);
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid white;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid var(--primary-hover);
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: flex-end;
    padding-top: 2%; 
    margin-top: auto;
}



header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: var(--primary-hover);
}

.delete-post-btn {
    background-color: #db0d0d;
}

.delete-post-btn:hover {
    background-color: #d39889;
}

.title { 
color: white ;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: white ;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    height: 3vh;
}